elpa/

data/

.emacs.desktop
.emacs.desktop.lock
.session
.smex-items
anaconda-mode/
ditaa0_9.jar
projectile-bookmarks.eld

custom.el
recentf
projectile.cache
history
custom.el~
.bookmarks.el
custom.el.before_ecb_2.50
auto-save-list/
