elpa/

data/

.emacs.desktop
.emacs.desktop.lock
.session
.smex-items
anaconda-mode/
ditaa0_9.jar
projectile-bookmarks.eld

custom.el
recentf
projectile.cache
history
custom.el~
.bookmarks.el
custom.el.before_ecb_2.50
auto-save-list/
org-clock-save.el
\#*

games/
var/
semanticdb/



bookmark
ido.last
.cache/
.DS_Store
url/
.mc-lists.el
ede-projects.el
eshell
hackernews/
transient/
